from jinja2 import Environment

jinja_env = Environment(autoescape=True)

template = jinja_env.from_string("""

<html>
   <body>

      <h1>Stream Processing Dashboard</h1>
      <h2>How long the average delay is of the planes leaving and arriving at each city right now!</h2>
      
      <style>
         table, th, td {
           border:1px solid black;
         }
         </style>
         
         <table style="width:100px; border: 1px solid black">
         <tr>
         <th> ArrTime </th>
         <th> Dest </th>
         <th> avg_ArrTime </th>
         <th> avg_DepTime </th>
         </tr>
         <tr>
         {% for key, value in result.items() %}
         {% for ArrTime, Dest in key.split() %}
         
         <tr>
             <td> {{ ArrTime }} </td>
         </tr>
         <tr>
             <td> {{ Dest }} </td>
         </tr>
         {% endfor %}
         {% for avg_ArrTime, avg_DepTime in value.split() %}
         <tr>
             <td> {{ avg_ArrTime }} </td>
         </tr>
         <tr>
             <td> {{ avg_DepTime }} </td>
         </tr>
         {% endfor %}
         {% endfor %}
         </table>
       
   </body>
</html>
""")
